<section id="imagepanel" class="main_background" data-type="background" data-speed="10">
    <div class="row"><a class="anchor" name="home"></a>
        <div class="small-12 small-centered medium-9 medium-pull-0 medium-text-left large-6 large-pull-6  columns"
             data-center="opacity: 1" data-106-top="opacity: 0" data-anchor-target="#imagepanel h1 h3 .strapline">
            <h1><span>RICHARD</span> HORSFORD</h1>

            <h3>Designer & Front-End Developer</h3>

            <p class="strapline">
                Building stylish websites and designing your logo.
                Let's get acquainted. <br>
                Call us on 0773 545 0717.
            </p>

            <div class="row">
                <div class="small-12 medium-6 large-6 columns">
                    <a ui-sref="portfolio" class="button portfolio">SEE PORTFOLIO</a>
                </div>
                <div class="small-12 medium-6 large-6 columns">
                    <a href="#" data-reveal-id="myForm" class="button quote">CONTACT ME</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="service" class="second_background" data-type="background" data-speed="10">
    <div class="row"><a class="anchor" name="about"></a>

        <div class="small-12 medium-10 medium-text-left large-6 large-text-left columns">
            <h2>WHO AM I</h2>

            <div class="underline"></div>
            <p>My name is Richard Horsford and I am a freelance developer. I typically like to make things look
                pretty!
                No seriously, I specialise in HTML5, CSS3 /SASS and javascript. I typically use jquery plugins and
                other
                javascript based frameworks such as AngularJs.</p>
        </div>
        <div class="small-12 medium-10 medium-text-left large-6 large-text-left columns">
            <h2>WHAT I DO</h2>

            <div class="underline"></div>
            <p>I design and develop websites. This can range from static based web pages for a brochure site to a
                CMS
                based site on wordpress and one page applications.
                Rebranding is also an area I cover. I can typically help rebrand existing websites
                and/or redesigning logos, documents, letterheads and email signatures as well.
            </p>
        </div>
        <div class="small-12 medium-6 large-6 padding_ columns">
            <div class="image-wrapper overlay-fade-in">
                <img src="../images/portfolio/bar.png" class="img_style" alt="barfibre portfolio site"/>

                <div class="image-overlay-content">
                    <h2>Bar<br/>Viaduct</h2>

                    <p class="desc">WIFI Portal</p>
                    <a ui-sref="viaduct" class="button_">View</a>
                </div>
            </div>
        </div>
        <div class="small-12 medium-6 large-6 padding_ columns">
            <div class="image-wrapper overlay-fade-in">
                <img src="../images/portfolio/departure.png" class="img_style" alt="Leeds Bradford Airport"/>

                <div class="image-overlay-content">
                    <h2>Leeds Bradford<br/>Airport</h2>

                    <p class="desc">WIFI Portal</p>
                    <a ui-sref="lbia" class="button_">View</a>
                </div>
            </div>
        </div>
        <div class="small-12 medium-6 medium-centered large-3 large-centered columns">
            <a ui-sref="portfolio" class="button portfolio">VIEW PORTFOLIO</a>
        </div>
    </div>
</section>

<section id="services" class="third_background panel_">
    <div class="row">
        <div class="small-12 medium-12 medium-text-left large-12 large-text-left columns">
            <h2>SERVICES I OFFER</h2>

            <div class="underline"></div>
        </div>
        <div class="small-12 medium-10 medium-text-left large-6 large-text-left columns">
            <div class="row">
                <div class="small-12 medium-3 large-3 columns spacer">
                    <img src="../images/design_icon.png" alt="Design icon" class="icon">
                </div>
                <div class="small-11 medium-9 large-9 columns spacer">
                    <h3>Design</h3>

                    <div class="underline_design"></div>
                    <p>During the design phase I run through wireframing and use design packages such as Photoshop
                        and
                        Illustrator. This is the initial step to projects such as logo design and web design. At
                        this
                        stage involvement and feedback from the client is necessary.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="small-12 medium-3 large-3  columns spacer">
                    <img src="../images/development_icon.png" alt="Development icon" class="icon">
                </div>
                <div class="small-11 medium-9 large-9 columns spacer">
                    <h3>Development</h3>

                    <div class="underline_dev"></div>
                    <p>At this stage of the process, combine the artwork that has been created and make it sing and
                        dance into a webpage. Using technologies such as HTML5, CSS3, jquery and many other
                        technologies
                        that fit the scope of the project.
                    </p>
                </div>
            </div>
        </div>
        <div class="small-12 medium-10 medium-text-left large-6 large-text-left columns spacer">
            <div class="row">
                <div class="row">
                    <div class="small-12 medium-3 medium-pull-2 large-3 large-pull-0 columns spacer">
                        <img src="../images/creative_icon.png" alt="Creative icon" class="icon">
                    </div>
                    <div class="small-11 medium-9 medium-pull-2 large-9 large-pull-0 columns spacer">
                        <h3>Browser Testing</h3>

                        <div class="underline_creative"></div>
                        <p>Full scale browser testing is underdone to make sure the website does perform the way it
                            is
                            meant to. This stage is the assures that web page or app will be compatible to older
                            browsers such as ie8 as well as a wide range of mobile and desktop browsers.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 medium-3 medium-pull-2 large-3 large-pull-0 columns spacer">
                        <img src="../images/responsive_icon.png" alt="Responsive icon" class="icon">
                    </div>
                    <div class="small-11 medium-9 medium-pull-2 large-9 large-pull-0 columns spacer">
                        <h3>Responsive Design</h3>

                        <div class="underline_responsive"></div>
                        <p>This is an important step of the process of creating a viable website into today internet
                            standards. The combination of using reliable frameworks such as Bootstrap 3 and
                            Foundation 5
                            and some custom tweaking, to make sure websites can scale from mobile devices to high
                            res
                            desktops.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
