<section id="portfolio" class="portfolio_background">
    <div class="row">
        <div class="small-12 medium-12 medium-centered large-12 large-text-center columns">
            <h2>PORTFOLIO</h2>

            <div class="underline"></div>
            <p>Some of the work I have currently done for clients at aql.</p>
        </div>
    </div>
</section>

<section id="portfolio-blocks" class="portfolio_blocks">
    <div class="light_grey">
        <div class="row">
            <div class="small-12 medium-6 medium-centered large-6 large-text-center columns">
                <h3>BAR FIBRE</h3>
                <h4>PORTAL PAGE</h4>
                <ul>
                    <li>DESIGN/ DEVELOP</li>
                    <li>UX/ UI DESIGN</li>
                    <li>RESPONSIVE WEBSITE</li>
                    <li>IE8-11 COMPATIBLE</li>
                </ul>
                <a ui-sref="fibre" class="button quote">VIEW WORK <i class="fa fa-angle-double-right"></i></a>
            </div>
        </div>
    </div>
    <div class="dark_grey">
        <img class="positioning" src="../images/portfolio/fibre_portfolio_cover.png" alt=""/>

        <div class="row">
            <div class="small-12 medium-6 medium-centered large-6 large-text-center columns">

            </div>
        </div>
    </div>
    <div class="dark_purple">
        <img class="positioning" src="../images/portfolio/viaduct_portfolio_cover.png" alt=""/>

        <div class="row">
            <div class="small-12 medium-12 medium-centered large-6 large-text-center columns">

            </div>
        </div>
    </div>
    <div class="purple">
        <div class="row">
            <div class="small-12 medium-6 medium-centered large-6 large-text-center columns">
                <h3>VIADUCT</h3>
                <h4>PORTAL PAGE</h4>
                <ul>
                    <li>DESIGN/ DEVELOP</li>
                    <li>UX/ UI DESIGN</li>
                    <li>RESPONSIVE WEBSITE</li>
                    <li>IE8-11 COMPATIBLE</li>
                </ul>
                <a  ui-sref="viaduct" class="button quote">VIEW WORK <i class="fa fa-angle-double-right"></i></a>
            </div>
        </div>
    </div>
    <div class="grey_shade">
        <div class="row">
            <div class="small-12 medium-6 medium-centered large-6 large-text-center columns">
                <h3>LBIA</h3>
                <h4>PORTAL PAGE</h4>
                <ul>
                    <li>DESIGN/ DEVELOP</li>
                    <li>UX/ UI DESIGN</li>
                    <li>RESPONSIVE WEBSITE</li>
                    <li>IE8-11 COMPATIBLE</li>
                </ul>
                <a  ui-sref="lbia" class="button quote">VIEW WORK <i class="fa fa-angle-double-right"></i></a>
            </div>
        </div>
    </div>
    <div class="grey_shade_darker">
        <img class="positioning" src="../images/portfolio/lbia_portfolio_cover.png" alt=""/>
        <div class="row">
            <div class="small-12 medium-12 medium-centered large-6 large-text-center columns">
            </div>
        </div>
    </div>
</section>