<a class="anchor tag" name="fibre"></a>
<section id="portfolio" class="portfolio_background_1">
    <div class="row">
        <div class="small-12 medium-12 medium-centered large-12 large-text-center columns">
           <h2>BAR FIBRE</h2>

            <div class="underline fibre-line"></div>
        </div>
    </div>
</section>

<section id="portfolio-fibre-blocks" class="portfolio_fibre">
    <div class="fibre">
    </div>
</section>
<section id="portfolo_image_section" class="fibre_">
    <img class="positioning" src="../../images/portfolio/fibre_portfolio_cover_1.png" alt=""/>
</section>

<section id="portfolio-info" class="info_section">
    <div class="row">
        <div class="small-12 medium-6 large-6 large-text-center columns">
            <img class="positioning" src="../../images/portfolio/mobile_fibre.png"/>
        </div>
        <div class="small-12 medium-6 large-6 large-text-center columns">
            <h3>ABOUT BAR FIBRE</h3>

            <p>Fibre also a chain bar, had a wifi portal put in. Again this was to provide free WiFi and marketing for
                    customers. It also kept track of regular customers visiting the bar for analytical and marketing
                purposes.</p>
            <p> The form is a simple that captures the Email address and telephone number of the customer connecting.
            </p>
        </div>
    </div>
</section>

<!---------------------------------------- Internal portfolio navigation ---------------------------------------------->

<div class="icon-bar large-vertical three-up fixed side-bar">
    <a class="item linkitem" ui-sref="home({'#':'main'})">
        <i class="fa fa-home"></i>
        <label>Home</label>
    </a>
    <a class="item linkitem" ui-sref="lbia({'#':'lbia'})">
        <i class="fa fa-backward" ></i>
        <label>Back</label>
    </a>
   <a class="item linkitem" ui-sref="viaduct({'#':'viaduct'})">
        <i class="fa fa-forward"></i>
        <label>Next</label>
    </a>
</div>

<!--------------------------------------------------------------------------------------------------------------------->