<a class="anchor" name="lbia"></a>
<section id="portfolio" class="portfolio_background_1">
    <div class="row">
        <div class="small-12 medium-12 medium-centered large-12 large-text-center columns">
            <h2>LBIA</h2>

            <div class="underline lbia-line"></div>
        </div>
    </div>
</section>

<section id="portfolio-lbia-blocks" class="portfolio_lbia">
    <div class="lbia">
    </div>
</section>
<section id="portfolo_image_section" class="lbia_">
    <img class="positioning" src="../../images/portfolio/lbia_portfolio_cover.png" alt=""/>
</section>

<section id="portfolio-info" class="info_section">
    <div class="row">
        <div class="small-12 medium-6 large-6 large-text-center columns">
            <img class="positioning" src="../../images/portfolio/mobile_lbia.png"/>
        </div>
        <div class="small-12 medium-6 large-6 large-text-center columns">
            <h3>ABOUT BAR LBIA</h3>

            <p>Leeds Bradford Airport is an international based airport between Leeds and Bradford. The specification
                for this project was they needed a Branded portal that can give users free WiFi and potentially give
                them access to advertising and promotions available.</p>
            <p>The portal is comprised of a basic form capture taking the name, email address, info and if the user is
                flying today and postcode.</p>
        </div>
    </div>
</section>

<!---------------------------------------- Internal portfolio navigation ---------------------------------------------->

<div class="icon-bar large-vertical three-up fixed side-bar">
    <a class="item linkitem" ui-sref="home({'#':'main'})">
        <i class="fa fa-home"></i>
        <label>Home</label>
    </a>
<a class="item linkitem" ui-sref="viaduct({'#':'viaduct'})">
        <i class="fa fa-backward" ></i>
        <label>Back</label>
    </a>
    <a class="item linkitem" ui-sref="fibre({'#':'fibre'})">
        <i class="fa fa-forward"></i>
        <label>Next</label>
    </a>
</div>

<!--------------------------------------------------------------------------------------------------------------------->