<a class="anchor" name="viaduct"></a>
<section id="portfolio" class="portfolio_background_1">
    <div class="row">
        <div class="small-12 medium-12 medium-centered large-12 large-text-center columns">
            <h2>VIADUCT</h2>

            <div class="underline viaduct-line"></div>
        </div>
    </div>
</section>

<section id="portfolio-fibre-blocks" class="portfolio_fibre">
    <div class="viaduct">
    </div>
</section>
<section id="portfolo_image_section" class="viaduct_">
    <img class="positioning" src="../../images/portfolio/viaduct_portfolio_cover.png" alt=""/>
</section>

<section id="portfolio-info" class="info_section">
    <div class="row">
        <div class="small-12 medium-6 large-6 large-text-center columns">
            <img class="positioning" src="../../images/portfolio/mobile_viaduct.png"/>
        </div>
        <div class="small-12 medium-6 large-6 large-text-center columns">
            <h3>ABOUT VIADUCT</h3>

            <p>Viaduct is part of a chain of bars in leeds that has had a makeover. The resin behind the portal is to
                give people free access to wifi while providing drink and food promotions. The form captures name and
                email and allows opt in for addition email marketing and promotions.</p>
            <p> The form is a simple that captures the Email address and telephone number of the customer
                connecting.</p>
        </div>
    </div>
</section>

<!---------------------------------------- Internal portfolio navigation ---------------------------------------------->

<div class="icon-bar large-vertical three-up fixed side-bar">
    <a class="item linkitem" ui-sref="home({'#':'main'})">
        <i class="fa fa-home"></i>
        <label>Home</label>
    </a>
   <a class="item linkitem" ui-sref="fibre({'#':'fibre'})">
        <i class="fa fa-backward" ></i>
        <label>Back</label>
    <a class="item linkitem" ui-sref="lbia({'#':'lbia'})">
        <i class="fa fa-forward"></i>
        <label>Next</label>
    </a>
    </a>
</div>

<!--------------------------------------------------------------------------------------------------------------------->